* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{

  border: solid 1px red;

}

:root {

/*principal*/

--red: #E3646E;
--purple: #bb72e9;
--blue: #3996db;
--green: #82bc4f;
--yellow: #eabd5f;

/*base*/

--grey-100: #e2e4e9;
--grey-200: #c0c4ce;
--grey-300: #878ea1;
--grey-400: #292c34;
--grey-500: #16181d;
--grey-600: #0d0e11;

/*font*/

--font-primary: 'Asap', sans-serif;
--font-secondary: 'Inconsolata', sans-serif;
--font-tertiary: 'Maven Pro', sans-serif;

}

body {

  font-family: var(--font-primary);
}

h1,h2 {

  font-family: var(--font-secondary); 
}

h3 {

  font-family: var(--font-tertiary);
}