* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {

/*principal*/

--red: #E3646E;
--purple: #bb72e9;
--blue: #3996db;
--green: #82bc4f;
--yellow: #eabd5f;

/*base*/

--grey-100: #e2e4e9;
--grey-200: #c0c4ce;
--grey-300: #878ea1;
--grey-400: #292c34;
--grey-500: #16181d;
--grey-600: #0d0e11;

/*font*/

--font-primary: 'Asap', sans-serif;
--font-secondary: 'Inconsolata', sans-serif;
--font-tertiary: 'Maven Pro', sans-serif;

}

body {

  font-family: var(--font-primary);
  border: solid 1px red;
}

main {
  display: flex;
  flex-direction: column;

  background-image: url(/assets/Background_Intro.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

section.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1040px;
  height: 440px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  border: solid 1px blue;
}
.test {
  
  height: 1040px;
  width: 440px;
  

}

h1,h2 {

  border: solid 1px green ;
  font-family: var(--font-secondary); 
}

h3 {
  
  border: solid 1px yellow;
  font-family: var(--font-tertiary);
}